.header{
    text-align: center;
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    height: 60px;
}
.boxar{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 570px 570px;
    grid-template-rows: 529px;
    padding: 20px;
    margin: 10px;
}
#a{
    background-color: lightgrey;
    padding: 20px;
    margin: 10px;
    max-height: 100%;
    max-width: 90%;
    min-height: 90%;
}
#b{
    background-color: lightgrey;
    padding: 20px;
    margin: 10px;
}
#c{
    background-color: lightgrey;
    padding: 20px;
    margin: 10px;
}
#d{
    background-color: lightgrey;
    padding: 20px;
    margin: 10px;
}
.boxar img{
    max-width: 100%;
    max-height: 100%;
}
#mittenbild{
    width: auto;
    height: auto;
    justify-content: center;
    text-align: center;
}
